<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileAutomationSuite" verbose="1">
    <test name="WDIOAndroidTests">
        <classes>
            <class name="org.example.automation.tests.NavigationTest"/>
            <class name="org.example.automation.tests.SignUpTest"/>
            <class name="org.example.automation.tests.LoginTest"/>
            <class name="org.example.automation.tests.SwipeTest"/>
        </classes>
    </test>
</suite>
